
@{
    ViewData["Title"] = "GridView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Measurments</h1>

<section class="text-center">
    <form asp-action="AddMeasurement" asp-controller="Home" method="post" role="form">
        <ul>
            @foreach (var measurement in Model.Items)
            {
                <li style="list-style-type: none"><section style="display:inline-block; padding: 10px"> <section>Temperature  @measurement.Temperature</section>   <section>Humidity @measurement.Humidity</section>  <section>Weight  @measurement.Weight</section>  <section>Lenght  @measurement.Lenght</section> <section>Width  @measurement.Width</section>  <section>Depth  @measurement.Depth</section></section><button>Update</button><button>Delete</button></li>
            }
        </ul>
        <button>
            Add Measurement
        </button>
    </form>
</section>
